<header>
    <nav [ngClass]="{'sticky': enableSticky }">
        <div class="row">
            <img src="assets/resources/img/logo-white.png" alt="omnifood logo" class="logo">
            <img src="assets/resources/img/logo.png" alt="omnifood logo" class="logo-black">
            <ul class="main-nav">
                <li><a href="#" (click)="handleScroll($event, 'FEATURES')">Food Delivery</a></li>
                <li><a href="#" (click)="handleScroll($event, 'HOW')">How it works</a></li>
                <li><a href="#" (click)="handleScroll($event, 'CITIES')">Our cities</a></li>
                <li><a href="#" (click)="handleScroll($event, 'SIGNUP')">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Goodbye junk food. <br> Hello super healthy meals.</h1>
        <a class="btn btn-full" href="#" (click)="handleScroll($event, 'PRICING')">I’m hungry</a>
        <a class="btn btn-ghost" href="#" (click)="handleScroll($event, 'FEATURES')">Show me more</a>
    </div>
</header>